basePath: /
definitions:
  httputil.HTTPError:
    properties:
      code:
        example: 400
        type: integer
      message:
        example: status bad request
        type: string
    type: object
  model.Meal:
    properties:
      allergies:
        type: string
      city:
        type: string
      email:
        type: string
      favourites:
        type: string
      id:
        type: string
      instructions:
        type: string
      least_favourites:
        type: string
      num_of_adults:
        type: integer
      number_of_kids:
        type: integer
      phone:
        type: string
      preferred_time:
        type: string
      reason:
        type: string
      recipient:
        type: string
      street:
        type: string
      user:
        $ref: '#/definitions/model.User'
      user_id:
        type: string
    type: object
  model.PaymentRequest:
    properties:
      amount:
        type: integer
      email:
        type: string
      fullname:
        type: string
      phone:
        type: string
    type: object
  model.PaymentResponse:
    properties:
      customer:
        type: string
      ephemeralKey:
        type: string
      paymentIntent:
        type: string
      publishableKey:
        type: string
    type: object
  model.Sermon:
    properties:
      categories: {}
      date:
        properties:
          carbon:
            type: string
          date:
            type: string
        type: object
      detail_url:
        type: string
      id:
        type: string
      interactions:
        properties:
          likes:
            type: integer
          shares:
            type: integer
        type: object
      interactive_note: {}
      keywords: {}
      media:
        properties:
          audio: {}
          embed: {}
          image: {}
          notes: {}
          video:
            type: string
          video_thumbnail:
            type: string
        type: object
      passages:
        items: {}
        type: array
      preacher:
        type: string
      series:
        properties:
          description: {}
          image: {}
          slug:
            type: string
          title:
            type: string
        type: object
      slug:
        type: string
      summary: {}
      text: {}
      title:
        type: string
    type: object
  model.SermonResponse:
    properties:
      current_page:
        type: integer
      data:
        items:
          $ref: '#/definitions/model.Sermon'
        type: array
      first_page_url:
        type: string
      from:
        type: integer
      last_page:
        type: integer
      last_page_url:
        type: string
      links:
        items:
          properties:
            active:
              type: boolean
            label:
              type: string
            url: {}
          type: object
        type: array
      next_page_url:
        type: string
      path:
        type: string
      per_page:
        type: integer
      prev_page_url: {}
      to:
        type: integer
      total:
        type: string
    type: object
  model.User:
    properties:
      createdOn:
        type: string
      email:
        type: string
      fullname:
        type: string
      id:
        type: string
      meals:
        items:
          $ref: '#/definitions/model.Meal'
        type: array
      phone:
        type: string
    type: object
host: services.momentumchurch.dev
info:
  contact:
    email: bandamwai@gmail.com
    name: Mwai Banda
  description: This is a backend service to process payments and provide some CRUD
    functionality
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://momentumindiana.org/statement-of-faith/
  title: Momentum API
  version: v1
paths:
  /api/v1/payment:
    post:
      consumes:
      - application/json
      description: Used to initiate stripe transactions
      parameters:
      - description: Post a transaction
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/model.PaymentRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.PaymentResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httputil.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputil.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputil.HTTPError'
      summary: Post a payment
      tags:
      - Payments
  /api/v1/sermons:
    get:
      consumes:
      - application/json
      description: get a list of sermons
      parameters:
      - description: Provide a page number
        in: query
        name: page
        type: number
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.SermonResponse'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httputil.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputil.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputil.HTTPError'
      summary: Show a list of sermons
      tags:
      - Sermons
  /api/v1/user:
    get:
      consumes:
      - application/json
      description: get a user information by providing an Id
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.User'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httputil.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputil.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputil.HTTPError'
      summary: Get user information by Id
      tags:
      - Users
swagger: "2.0"
